body {
    background-color: #f3f0f9;
    font-family: 'Arial', sans-serif;
    color: #4e4a62;
}

h2 {
    font-size: 26px;
    font-weight: bold;
}

.card {
    margin-top: 20px;
    border-radius: 10px;
}

.card-header, .card-footer {
    border-radius: 10px;
    background-color: #b39ddb; /* Lilac color */
}

.card-header h2 {
    font-size: 30px;
}

.card-body {
    background-color: #e1bee7; /* Light lavender */
}

.form-group label {
    font-weight: bold;
}

.btn-lilac {
    background-color: #7e57c2; /* Lilac color */
    border-color: #7e57c2;
    color: white;
}

.btn-lilac:hover {
    background-color: #6a4caf;
    border-color: #6a4caf;
}

.form-select {
    background-color: #f3e5f5; /* Very light lavender */
}

.form-control {
    background-color: #f3e5f5;
    border: 1px solid #e1bee7;
}

.card-footer {
    background-color: #7e57c2; /* Lilac color */
}

.card-footer a {
    color: white;
}

.card-footer a:hover {
    color: #f3f0f9;
}
